<footer class="footer">
  <div class="container">

    <div class="footer__row">
      <a href="/" class="footer-square" aria-label="ТД СпецЗапчасть"></a>

      <div class="footer-phone">
        <a href="tel:+74862551201">+7 (4862) 551-201</a>
      </div>

      <div class="footer-socials">
        <a href="https://vk.com/" aria-label="VK">
          <img src="/images/vk.png" alt="VK">
        </a>
        <a href="https://t.me/" aria-label="Telegram">
          <img src="/images/tg.png" alt="Telegram">
        </a>
      </div>
    </div>

    <div class="footer-seo">
      <a href="./catalog-avtogrejderov.html">Автогрейдеры</a>
      <a href="./frontalnye-pogruzchiki.html">Фронтальные погрузчики</a>
      <a href="./buldozery.html">Бульдозеры</a>
      <a href="./gidrotsilindry.html">Гидроцилиндры</a>
      <a href="./gidroraspredeliteli.html">Гидрораспределители</a>
      <a href="./kommunalnaya-tekhnika.html">Коммунальная техника</a>
      <a href="./mkp-gmp.html">МКП и ГМП</a>
      <a href="./importnaya-tekhnika.html">Импортная техника</a>
      <a href="./html/sitemap.html">Карта сайта</a>
    </div>

    <div class="footer-legal">
      <p>© 2026 ООО «ТД «СпецЗапчасть». Все права защищены.</p>
      <p>
        <a href="/html/politika-konfidencialnosti.html">Политика обработки персональных данных</a>
        <span>|</span>
        <a href="/html/polzovatelskoe-soglashenie.html">Пользовательское соглашение</a>
      </p>
    </div>

  </div>
</footer>

<div class="cookie-banner" id="cookieBanner" aria-live="polite">
  <button class="cookie-banner__close" id="cookieClose" type="button" aria-label="Закрыть уведомление">
    ×
  </button>

  <p class="cookie-banner__text">
    Мы используем cookies, чтобы сайт работал стабильнее и удобнее.
    Продолжая пользоваться сайтом, вы соглашаетесь с
    <a href="/politika-konfidencialnosti.html">политикой обработки персональных данных</a>.
  </p>

  <div class="cookie-banner__actions">
    <button class="cookie-banner__btn cookie-banner__btn--accept" id="cookieAccept" type="button"
      style="background-color: rgb(0, 149, 100);">
      Принять
    </button>
    <button class="cookie-banner__btn cookie-banner__btn--accept" type="button">
      <a class="cookie-banner__btn cookie-banner__btn--settings"
        href="/politika-konfidencialnosti.html">Подробнее</a>
    </button>
  </div>
</div>
