          <aside class="sidebar" id="contacts">
            <div class="sidebar-block">
              <h2 class="section-title">Каталог</h2>
              <p class="sidebar__lead">Запчасти на импортную и отечественную спецтехнику</p>

              <div class="sidebar-group">
                <div class="sidebar-group__title">Импортная техника</div>
                <div class="sidebar-list">
                  <a class="pill" href="importnaya-tekhnika.html">Техника из Китая</a>
                </div>
              </div>

              <div class="sidebar-group">
                <div class="sidebar-group__title">Каталог запчастей на отечественную технику</div>
                <div class="sidebar-list">
                  <a class="pill" href="catalog-avtogrejderov.html">Автогрейдеры ДЗ / ГС</a>
                  <a class="pill" href="frontalnye-pogruzchiki.html">Фронтальные погрузчики</a>
                  <a class="pill" href="kommunalnaya-tekhnika.html">Коммунальная техника</a>
                  <a class="pill" href="buldozery.html">Бульдозеры Б-100 / Б-120 / Б-130</a>
                  <a class="pill" href="raskhodniki.html">Защита рабочих органов</a>
                  <a class="pill" href="resajklery.html">Рециклеры</a>
                </div>
              </div>

              <div class="sidebar-group">
                <div class="sidebar-group__title">Каталог гидравлики</div>
                <div class="sidebar-list">
                  <a class="pill" href="gidroraspredeliteli.html">Гидрораспределители</a>
                  <a class="pill" href="gidrotsilindry.html">Гидроцилиндры</a>
                </div>
              </div>

              <div class="sidebar-group">
                <div class="sidebar-group__title">Техника и навесное оборудование</div>
                <div class="sidebar-list">
                  <a class="pill" href="bystrosemnoe-oborudovanie.html">Быстросъемное оборудование</a>
                </div>
              </div>

              <div class="sidebar-group">
                <div class="sidebar-group__title">Коробки передач</div>
                <div class="sidebar-list">
                  <a class="pill" href="mkp-gmp.html">У35.606У / У35.605У / У35.615 / Псков</a>
                  <a class="pill" href="remont-kpp.html">Капитальный ремонт ГМП и МКП</a>
                </div>
              </div>
            </div>

            <div class="sidebar-block">
              <h2 class="section-title">Контакты</h2>

              <div class="contacts-group">
                <div class="contacts-group__title">Контактные телефоны</div>
                <div class="sidebar-list">
                  <a class="pill" href="tel:+74862480329">+7 (4862) 480-329</a>
                  <a class="pill" href="tel:+74862484598">+7 (4862) 484-598</a>
                  <a class="pill" href="tel:+74862481550">+7 (4862) 481-550</a>
                  <a class="pill" href="tel:+74862509500">+7 (4862) 509-500</a>
                </div>
              </div>

              <div class="contacts-group">
                <div class="contacts-group__title">Электронная почта</div>
                <div class="sidebar-list">
                  <a class="pill" href="mailto:6514200@bk.ru">6514200@bk.ru</a>
                  <a class="pill" href="mailto:6514121@bk.ru">6514121@bk.ru</a>
                  <a class="pill" href="mailto:gidra@speczapchast.ru">gidra@speczapchast.ru</a>
                  <a class="pill" href="mailto:buh@speczapchast.ru">buh@speczapchast.ru</a>
                  <a class="pill" href="mailto:info@speczapchast.ru">info@speczapchast.ru</a>
                </div>
              </div>

              <div class="contacts-group">
                <div class="contacts-group__title">Telegram</div>
                <div class="sidebar-list">
                  <a class="pill" href="https://t.me/">+7 953 811-33-23</a>
                  <a class="pill" href="https://t.me/">+7 953 812-00-01</a>
                  <a class="pill" href="https://t.me/">+7 910 748-53-25</a>
                </div>
              </div>

              <div class="contacts-group">
                <div class="contacts-group__title">Max</div>
                <div class="sidebar-list">
                  <a class="pill" href="#">+7 953 811-33-23</a>
                  <a class="pill" href="#">+7 953 812-00-01</a>
                  <a class="pill" href="#">+7 910 748-45-98</a>
                  <a class="pill" href="#">+7 910 748-53-25</a>
                </div>
              </div>
            </div>
          </aside>